# dotenv environment variable files
.env
.env.*
!.env.example

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# node_modules
node_modules/

# Playwright tests and reports
playwright-report/
test-results/

